In [39]:
import pandas as pd
rawdata = pd.read_csv("Speed_Dating_Data.csv", encoding = "ISO-8859-1")
rawdata

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,21,22,14,10.0,5,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8374,552,22.0,1,44,2,21,22,13,10.0,4,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8375,552,22.0,1,44,2,21,22,19,10.0,10,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8376,552,22.0,1,44,2,21,22,3,10.0,16,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8377,552,NaN,1,44,2,21,22,2,10.0,15,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

In [54]:
# remove unimportant data
trunci = rawdata.columns.get_loc("attr")
truncdata = rawdata.iloc[:,range(trunci)]
truncdata = truncdata.drop(["id","idg","condtn","wave",
                            "round","position","positin1","order","partner",
                            "match","int_corr","samerace","age_o","race_o","pf_o_att","dec_o","attr_o",
                            "undergra", "mn_sat", "tuition",
                            "from", "zipcode","income",
                            "field", "career", "career_c",
                            "exphappy", "expnum"]
                           ,axis=1)
truncdata

,iid,gender,pid,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,sinc_o,intel_o,...,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,dec
0,1,0,11.0,20.0,20.0,20.0,0.0,5.0,8.0,8.0,...,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1
1,1,0,12.0,0.0,0.0,40.0,0.0,0.0,8.0,10.0,...,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1
2,1,0,13.0,18.0,19.0,18.0,14.0,12.0,10.0,10.0,...,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1
3,1,0,14.0,5.0,15.0,40.0,5.0,5.0,8.0,9.0,...,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1
4,1,0,15.0,10.0,20.0,10.0,10.0,20.0,7.0,9.0,...,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,1,526.0,10.0,30.0,20.0,10.0,15.0,5.0,3.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8374,552,1,527.0,20.0,10.0,5.0,10.0,5.0,3.0,7.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8375,552,1,528.0,10.0,30.0,10.0,10.0,NaN,1.0,2.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8376,552,1,529.0,25.0,25.0,10.0,10.0,20.0,7.0,5.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8377,552,1,530.0,20.0,10.0,15.0,5.0,30.0,8.0,7.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0

In [55]:
truncdata.dropna()

,iid,gender,pid,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,sinc_o,intel_o,...,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,dec
3409,234,0,244.0,20.0,20.0,10.0,10.0,20.0,8.0,9.0,...,7.0,8.0,8.0,10.0,9.0,6.0,9.0,6.0,10.0,1
3412,234,0,247.0,30.0,10.0,15.0,0.0,25.0,7.0,5.0,...,7.0,8.0,8.0,10.0,9.0,6.0,9.0,6.0,10.0,0
3413,234,0,248.0,15.0,20.0,20.0,15.0,5.0,7.0,8.0,...,7.0,8.0,8.0,10.0,9.0,6.0,9.0,6.0,10.0,0
3414,234,0,249.0,22.0,15.0,15.0,5.0,21.0,9.0,8.0,...,7.0,8.0,8.0,10.0,9.0,6.0,9.0,6.0,10.0,0
3415,234,0,250.0,20.0,20.0,20.0,10.0,10.0,10.0,6.0,...,7.0,8.0,8.0,10.0,9.0,6.0,9.0,6.0,10.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8371,552,1,524.0,20.0,25.0,20.0,10.0,10.0,6.0,7.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,1
8372,552,1,525.0,15.0,30.0,20.0,15.0,10.0,8.0,7.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8374,552,1,527.0,20.0,10.0,5.0,10.0,5.0,3.0,7.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8376,552,1,529.0,25.0,25.0,10.0,10.0,20.0,7.0,5.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8377,552,1,530.0,20.0,10.0,15.0,5.0,30.0,8.0,7.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0

In [57]:
truncdata2=truncdata.drop(["attr5_1","sinc5_1","intel5_1","fun5_1","amb5_1"],axis=1)
truncdata2.dropna()

,iid,gender,pid,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,sinc_o,intel_o,...,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,dec
1846,132,0,137.0,17.39,15.22,17.39,13.04,19.57,8.0,9.0,...,13.64,15.91,13.64,18.18,8.0,10.0,10.0,9.0,10.0,0
1847,132,0,138.0,20.00,20.00,20.00,6.67,13.33,7.0,4.0,...,13.64,15.91,13.64,18.18,8.0,10.0,10.0,9.0,10.0,0
1849,132,0,140.0,16.28,18.60,18.60,11.63,16.28,7.0,7.0,...,13.64,15.91,13.64,18.18,8.0,10.0,10.0,9.0,10.0,1
1850,132,0,141.0,20.83,16.67,16.67,6.25,18.75,7.0,7.0,...,13.64,15.91,13.64,18.18,8.0,10.0,10.0,9.0,10.0,0
1851,133,0,137.0,17.39,15.22,17.39,13.04,19.57,10.0,10.0,...,13.51,16.22,10.81,18.92,6.0,8.0,7.0,8.0,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8371,552,1,524.0,20.00,25.00,20.00,10.00,10.00,6.0,7.0,...,0.00,30.00,0.00,20.00,8.0,7.0,6.0,7.0,7.0,1
8372,552,1,525.0,15.00,30.00,20.00,15.00,10.00,8.0,7.0,...,0.00,30.00,0.00,20.00,8.0,7.0,6.0,7.0,7.0,0
8374,552,1,527.0,20.00,10.00,5.00,10.00,5.00,3.0,7.0,...,0.00,30.00,0.00,20.00,8.0,7.0,6.0,7.0,7.0,0
8376,552,1,529.0,25.00,25.00,10.00,10.00,20.00,7.0,5.0,...,0.00,30.00,0.00,20.00,8.0,7.0,6.0,7.0,7.0,0
8377,552,1,530.0,20.00,10.00,15.00,5.00,30.00,8.0,7.0,...,0.00,30.00,0.00,20.00,8.0,7.0,6.0,7.0,7.0,0

In [70]:
truncdata2.dropna()[["iid","pid"]].nunique()

iid    412
pid    400
dtype: int64